<ul data-role="listview">
<% @subjects.each do |subject| %>
<li>
    <%= image_tag subject.user.try(:image), {'class' => 'ui-li-icon'} %>
    <%= subject.user.try(:name) %>
    <p class="ui-li-aside"><%= subject.updated_at.strftime('%Y-%m-%d %H:%M') %></p>
  <hr>
    <h1><%= subject.title %></h1>
    <div style="text-align: center; width:100%; max-height:200px; overflow: hidden">
      <%= link_to image_tag(img_subject_path(subject)), subject %>
    </div>
    <div><%= subject.quote %></div>
</li>
<% end %>
</ul>