<p id="notice"><%= notice %></p>

<h1><%= @subject.title %></h1>

<div>
  <img src="<%= subject_img_path @subject %>">
</div>

<div>
  <%= @subject.quote %>
</div>

<%= render partial: 'comment_form' %>

<% @subject.comments.each do |comment| %>
<div>
  <%= comment.comment %>
</div>
<% end %>
