<div>
<%= image_tag @subject.user.try(:image), style: 'max-width:18px; max-height:18px;' %>
<%= @subject.user.try(:name) %>
<%= @subject.updated_at.strftime('%Y-%m-%d %H:%M') %>
</div>
<hr>

<h2><%= @subject.title %></h2>

<div style="text-align: center;">
  <img src="<%= img_subject_path @subject %>">
  <%= @subject.quote %>
</div>
<hr>

<%= render partial: 'comment_form' %>
<hr>

<ul data-role="listview">
<% @subject.comments.each do |comment| %>
<li>
  <%= image_tag comment.user.try(:image), {'class' => 'ui-li-icon'} %>
  <%= comment.user.try(:name) %>
  <p class="ui-li-aside"><%= comment.updated_at.strftime('%Y-%m-%d %H:%M') if comment.updated_at %></p>
  <hr><%= comment.comment %>
</li>
<% end %>
</ul>