<h1><%= @subject.title %></h1>

<div style="text-align: center;">
  <img src="<%= img_subject_path @subject %>">
</div>

<div>
  <%= @subject.quote %>
</div>
<hr>

<%= render partial: 'comment_form' %>
<hr>

<ul data-role="listview">
<% @subject.comments.each do |comment| %>
<li>
  <%= image_tag comment.user.try(:image), {'class' => 'ui-li-icon'} %>
  <p><%= comment.user.try(:name) %></p>
  <p class="ui-li-aside"><%= comment.updated_at.strftime('%Y-%m-%d %H:%M') if comment.updated_at %></p>
  <%= comment.comment %>
</li>
<% end %>
</ul>