<!DOCTYPE html>
<html>
<head>
  <title>Blabo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page" id="wrap">

<div data-role="header" data-position="fixed" style="overflow: hidden">
  <h1>stand by me</h1>
  <%= link_to 'ホーム', subjects_path, {'data-icon'=>'home', 'class'=>'ui-btn-left'} %>

  <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, 'data-icon'=>'user', 'class'=>'ui-btn-right', 'rel' => 'external'} %>
  <% else %>
      <%= link_to 'ログイン', user_omniauth_authorize_path(:facebook), {'data-icon'=>'user', 'class'=>'ui-btn-right', 'rel' => 'external'} %>
  <% end %>

  <div data-role="navbar">
    <ul>
      <li><%= link_to '叱ってもらう', new_subject_path(cat:1) %></li>
      <li><%= link_to '褒めてもらう', new_subject_path(cat:2) %></li>
    </ul>
  </div>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div id="inner">
<div role="main" class="ui-content" id="main">
  <%= yield %>
</div>
<div id="side">
  <% (1..9).each do |i| %>
  <div>広告<%=i%></div>
  <% end %>
</div>
</div>

<div data-role="footer" data-position="fixed" style="overflow: hidden;">
  <div data-role="navbar">
    <ul>
      <li><a href="/company.html" data-transition="pop">運営会社</a></li>
<!--      <li><a href="policy.html">プライバシーポリシー</a></li> -->
      <li><a href="/rule.html">利用規約</a></li>
      <li><a href="/faq.html">よくある質問</a></li>
<!--      <li><a href="advertise.html">広告掲載</a></li> -->
    </ul>
  </div>
</div>

</div><!--page-->
</body>
</html>
