<!DOCTYPE html>
<html>
<head>
  <title>Blabo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <ul>
    <li><%= link_to 'ホーム', subjects_path %></li>
    <li><%= link_to '叱ってもらう', new_subject_path %></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
