<!DOCTYPE html>
<html>
<head>
  <title>Blabo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui-header" data-position="fixed" data-role="header">
<div data-role="navbar">
  <ul>
    <li><%= link_to 'ホーム', subjects_path %></li>
    <li><%= link_to '叱ってもらう', new_subject_path %></li>
  </ul>
</div>
</div>

<%= yield %>

</body>
</html>
